<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.blog.mapper.TextMapper">


    <select id="getTextBySort" resultType="org.example.blog.model.Text">
        SELECT *
        FROM text
        WHERE s_id = #{sId}
    </select>
    <select id="getTextByTID" resultType="org.example.blog.model.Text">
        SELECT *
        FROM text
        WHERE t_id = #{tId}
    </select>
    <select id="getTextByUId" resultType="org.example.blog.model.Text">
        SELECT *
        FROM text
        WHERE u_id = #{uId}
    </select>
</mapper>